<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'department/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'department/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'department/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'department/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'department/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'department/js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'department/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <style>
    #dep {
      margin-left: 50px;
    }
  </style>
  {% if  msg != ""  and  msg != null  %}
  <script>alert("{{msg}}");</script>
  {% endif %}
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" id="dep">Department Panel</a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a><b>{{request.session.username}}</b></a>&emsp;
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{% static 'admin/images/faces/user.png' %}" alt="profile" />
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{% url 'depprivacy' %}">
                <i class="ti-key text-primary"></i>
                Privacy
              </a>
              <a class="dropdown-item">
                <i class="ti-marker-alt text-primary"></i>
                Edit Profile
              </a>
              <a class="dropdown-item" href="{% url 'logout' %}">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'departmenthead' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
              aria-controls="form-elements">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Awareness<br> Program</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'addprogram' %}">Add new</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'programlist' %}">List</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">Forest Officers</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'addofficer' %}">Add New</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'officerlist' %}">List</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">
              <i class="icon-bell menu-icon"></i>
              <span class="menu-title">Entry Pass Requests</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">
              <i class="icon-check menu-icon"></i>
              <span class="menu-title">Accepted Entry Pass</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'depnews' %}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">News</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      {% block content %}
			
      {% endblock %}
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="{% static 'department/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'department/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="{% static 'department/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'department/js/dataTables.select.min.js' %}"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'department/js/off-canvas.js' %}"></script>
    <script src="{% static 'department/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'department/js/template.js' %}"></script>
    <script src="{% static 'department/js/settings.js' %}"></script>
    <script src="{% static 'department/js/todolist.js' %}"></script>
    <script src="{% static 'js/program.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{% static 'department/js/dashboard.js' %}"></script>
    <script src="{% static 'department/js/Chart.roundedBarCharts.js' %}"></script>
    <!-- End custom js for this page-->
</body>

</html>